.director-card-wraper {
    position: relative;
    width: 280px;
    height: max-content;
    border-radius: 8px;
}

.director-card {
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
}

.director-details {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.director-card-wraper:hover{
    border: 1px solid #f79067;
}
.director-card-wraper:hover .director-card {
    opacity: 0.3;
}

.director-card-wraper:hover .director-details {
    opacity: 1;
}